.section-detail {
    margin-bottom: 20px;
}

.section-detail {
    margin-bottom: 20px;
}

.details{
    padding:0px 50px 30px 40px;
}

.section-detail p{
    margin-left: 2px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .main-container {
        width: 100%;
        margin-bottom: 20px;
    }
}