.member-list-container {
    padding: 20px;
}
  
.member-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-member-button{
    margin-top: 20px;
}

.member-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 3em;
    gap: 2em;
  }
