
  /* Estils generals per al formulari */
  
  /* Secció detallada */
.section-detail {
  margin-bottom: 20px;
}

.section-detail {
  margin-bottom: 20px;
}

.basic-info {
  width: 40%;
  background-color: var(--color-background);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-left: 4px solid var(--color-secondary);
  margin: 70px 0 0 -52px;
}
 
.basic-info label {
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
}

.info-item {
  margin-top: 20px;
}

.url-field{
  display: flex;
}

.url-field input{
  margin: 5px;
}

.name-input{
  width:65%;
  margin: 5px;
}

.details{
  padding-bottom: 40px;
}

.rsw-ce{
  background-color: #fff;
}

.rsw-toolbar{
  background-color: var(--color-background) !important;
}

.rsw-editor{
  width: 97%;
}

.links-container{
  padding: 15px 5px 0px 5px;
}

.sub-links-container{
  margin: 10px 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .main-container {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .basic-info {
        width: 90%;
        margin-top: 20px;
    }
}


