/* Definició de la paleta de colors */
:root {
  --color-primary: #AC8435;
  --color-secondary: #d8bc84; 
  --color-accent:#fef4e4;
  --color-background: #F7F2E9; 
  --color-text: #333333; /* Text principal */
  --color-light-gray: #EAEAEA; /* Fons clar */
  --color-text-secondary: #403C34;
  --color-action: #F9A825; /* Actions */
  --color-action-hover: #F9A825; /* Actions hover  */
  --color-action-secondary: #f6c562;  /* Actions secondar  */
  --color-action-secondary-hover: #f0d192; /* Actions secondary hover */
  --color-error: #F44336; /* Vermell per errors */
  --color-warning: #FFEB3B; /* Groc per advertències */
}

/* Tipografies */
body {
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-text);
  background-color: #eee ;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: var(--color-primary);
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h3{
  text-align: center;  
}

h2{
  font-size: 1.6rem;
  margin-top: 40px;
  margin-bottom: 15px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

label{
  font-weight: bold;
  font-size: 1rem;
}

span{
  margin:0px 10px;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

.disabled{
  color: #aaa;
}

a {
  color: var(--color-action);
  text-decoration: none;
}

a:hover {
  color: var(--color-action-hover);
  text-decoration: underline;
}

button {
  font-size: 16px;
  letter-spacing: 1;
  background-color: var(--color-action-secondary);
  color: white;
  padding: 8px 20px;
  margin: 10px 0px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-action-secondary-hover);
}

.btn-save {
  padding:12px 100px; 
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-save:hover {
  background-color: #f7b854;  /* Canvi per a l'efecte hover */
}

.btn-save-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra el botó horitzontalment */
}

.secondary-btn {
  background-color: var(--color-action-secondary);
  margin-right: 10px;
}

.secondary-btn button:hover {
  background-color: var(--color-action-secondary-hover);
}

input, textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  margin: 10px 0 20px 0;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
color: #bbb; /* Canvia el color del placeholder */
}

textarea {
  min-height: 100px;
  resize: vertical;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

/* Estil per al select */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Afegir una icona de fletxa per millorar la interacció */
select {
  -webkit-appearance: none; /* Desactiva l'aspecte per defecte a Safari */
  -moz-appearance: none; /* Desactiva l'aspecte per defecte a Firefox */
  appearance: none; /* Desactiva l'aspecte per defecte a la resta de navegadors */
  padding-right: 25px; /* Afegir espai per la fletxa */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 5"><path d="M0 0L5 5L10 0H0z" fill="#333"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select:invalid { color: gray; }
  
/* Estil per a les opcions dins del select */
option {
  padding: 10px;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Canvi de color al passar el ratolí per sobre d'una opció */
option:hover {
  background-color: var(--color-action-hover);
}

option[disabled] {
  color: #bbb;
}

fieldset {
  border: 2px solid var(--color-secondary); 
  padding: 20px 30px;
  border-radius: 8px;
}

legend {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color: var(--color-primary);
  padding: 0 5px;
}

a {
  font-weight: bold;
}

/* Amaga l'input file original */
input[type="file"] {
  display: none;
}

.file-upload-container{
  display: flex;
}

.file-upload-button {
  background-color: transparent;
  color:var(--color-action-secondary);
  border: 1px solid var(--color-action-secondary);
}

.file-upload-button:hover {
  background-color: var(--color-action-secondary-hover);
  color: var(--color-accent);
}

/* Contenidor que apareix després de la selecció del fitxer */
.file-upload-info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.width50{
  width: 50%;
}


/* Error style per als formularis */
.error {
  color: var(--color-error);
  margin-top: 10px;
}

.outter-container{
  width: 100%;
  margin: 40px auto;
}

.container {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-container {
  width: 100%;
  background-color: var(--color-accent);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Estils per a la responsive design */
@media (max-width: 768px) {
  .main-container {
      padding: 20px;
      width: 90%;
  }
}